/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Roboto Condensed*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*Mark Pro*/

@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Mark Pro Regular'), url('font-files/MARKPRO.woff') format('woff');
}


@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 100;
    src: local('Mark Pro Extra Light'), url('font-files/MARKPROEXTRALIGHT.woff') format('woff');
}


@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Mark Pro Light'), url('font-files/MARKPROLIGHT.woff') format('woff');
}


@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Mark Pro Book'), url('font-files/MARKPROBOOK.woff') format('woff');
}


@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Mark Pro Medium'), url('font-files/MARKPROMEDIUM.woff') format('woff');
}


@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Mark Pro Bold'), url('font-files/MARKPROBOLD.woff') format('woff');
}


@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Mark Pro Heavy'), url('font-files/MARKPROHEAVY.woff') format('woff');
}


@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Mark Pro Black'), url('font-files/MARKPROBLACK.woff') format('woff');
}

@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: normal;
    src: local('Consolas'), url('font-files/Consolas.woff') format('woff');
}

@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 500;
    src: local('Consolas Bold'), url('font-files/Consolas-Bold.woff') format('woff');
}
