//Border

///Border Radius
$border-radius-sm: 4px
$border-radius-md: 8px
$border-radius-lg: 16px
$border-radius-pill: 500px
$border-radius-circular: 50%

///Border Widths
$border-width-hairline: 1px
$border-width-thin: 2px
$border-width-thick: 4px
$border-width-heavy: 8px