/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*Roboto Condensed*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&display=swap');

/*Roboto Mono*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

/*Mark Pro*/
@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Mark Pro Regular'), url('font-files/MARKPRO.woff') format('woff');
}

@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Mark Pro Regular'), url('font-files/MARKPRO.woff') format('woff');
}


@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Mark Pro Light'), url('font-files/MARKPROLIGHT.woff') format('woff');
}

@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Mark Pro Medium'), url('font-files/MARKPROMEDIUM.woff') format('woff');
}


@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Mark Pro Bold'), url('font-files/MARKPROBOLD.woff') format('woff');
}

/*Sharon Sans*/
@font-face {
    font-family: 'Sharon Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Sharon Sans Regular'), url('font-files/SharonSans-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Sharon Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Sharon Sans Regular'), url('font-files/SharonSans-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Sharon Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Sharon Sans Light'), url('font-files/SharonSans-Light.otf') format('otf');
}

@font-face {
    font-family: 'Sharon Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Sharon Sans Medium'), url('font-files/SharonSans-Medium.otf') format('otf');
}

@font-face {
    font-family: 'Sharon Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Sharon Sans Bold'), url('font-files/SharonSans-Bold.otf') format('otf');
}

/*Consolas*/
@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: normal;
    src: local('Consolas'), url('font-files/Consolas.woff') format('woff');
}

@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 700;
    src: local('Consolas Bold'), url('font-files/Consolas-Bold.woff') format('woff');
}
