.custom-scrollbar::-webkit-scrollbar-track,
.select__menu-list::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar,
.select__menu-list::-webkit-scrollbar {
  width: 14px;
}
.custom-scrollbar::-webkit-scrollbar-thumb,
.select__menu-list::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  width: 4px;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.react-tooltip-lite {
  background: #303133;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  opacity: 0.8;
  min-width: 123px;
}

.react-tooltip-lite-arrow {
  border-top: 10px solid #303133 !important;
  opacity: 0.8;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

@keyframes modalSpawnAnimation {
  from {
    opacity: 0.2;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
};